
<div class="form-group">
    <table class="table table-bordered">
        <tr>
            <th class="col-md-4">
                @Html.Label("Bursary aggreement")
            </th>
        </tr>

        <tr>
            <td>
                @Html.ActionLink("Downlaod", "DownLoadFile", new { id = Model.Application_ID })
            </td>
        </tr>

    </table>
</div>