@model Finance_Tracking.Models.Application

@{
    ViewBag.Title = "ViewBursaryAgreement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group">
    @ViewBag.DownloadFailed
    <table class="table table-bordered">
        <tr>
            <th class="col-md-4">
                @Html.Label("Bursary aggreement")
            </th>
        </tr>

        <tr>
            <td>
                @Html.ActionLink("Downlaod", "DownLoadFile", new { id = Model.Application_ID })
            </td>
        </tr>

    </table>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}