@model Finance_Tracking.Models.EmployeeModel

<fieldset class="documents-fieldset">
    <legend>Admin code</legend>
    <div class="form-group">
        @Html.LabelFor(model => model.Admin_Code, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Admin_Code, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Admin_Code, "", new { @class = "text-danger" })
        </div>
    </div>
</fieldset>