<div class="container-btn">
    <div class="left-btn-flex">
        <a href='@Url.Action("Index", "Funder")'>
            <div>
                <input type="button" name="selection" value="Back" class="btn btn-default" />
            </div>
        </a>
    </div>
</div>