<div class="container-btn">
    <div class="left-btn-flex">
        <a href='@Url.Action("ViewBursar", "Funder", new { id = Model.Application_ID })'>
            <div>
                <input type="button" name="selection" value="Cancel" class="btn btn-default" />
            </div>
        </a>
    </div>
    <div class="right-btn-flex">
        <div>
            <input type="submit" name="selection" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>