

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <img class="index-images" src="~/Images/2023.png" alt="2023 applications">
    </div>
    <div class="col-md-4">
        <img class="index-images" src="~/Images/JSE.png" alt="JSE logo">
    </div>
    <div class="col-md-4">
        <img class="index-images" src="~/Images/traffic-thumb.png" alt="NSFAS mastercard">
    </div>    
</div>
<div class="row">
    <div class="col-md-4">
        <img class="index-images" src="~/Images/NMU.png" alt="NMU logo">
    </div>
    <div class="col-md-4">
        <img class="index-images" src="~/Images/uj.png" alt="UJ logo">
    </div>
    <div class="col-md-4">
        <img class="index-images" src="~/Images/University_of_Cape_Town_logo.svg.png" alt="UCT logo">
    </div>
</div>